In [27]:
import pandas as pd

In [28]:
csv_path='ds_team_project1/data/indices/benchmark_NY/ny_benchmark_ds_indices.csv'
o_df = pd.read_csv(csv_path)
new_all_df = o_df[['city','restaurant_price_index','cpi_index','rent_index','groceries_index']]
new_all_df.head()

,city,restaurant_price_index,cpi_index,rent_index,groceries_index
0,Cupertino,84.648271,81.802738,87.207894,80.397385
1,Irvine,76.497712,83.723534,66.261200,89.492802
2,Los Angeles,82.482643,82.331774,68.891009,82.725730
3,Menlo Park,74.760254,96.900206,108.232276,111.718750
4,Mountain View,81.646369,82.618190,87.003232,84.579527

In [29]:
city_list = new_all_df['city'].tolist()
#city_list

In [30]:
def ds(num):
    csv = city_list[num] + '_ds_indices.csv'
    csv_path = 'ds_team_project1/data/indices/benchmark_NY/nearby_cities/' + csv
    city_df = pd.read_csv(csv_path)
    new_df = city_df[['city','cpi_index','rent_index', 'groceries_index','restaurant_price_index']]
    new_df['cpi_single_usd']=new_df['cpi_index']/100*1957.34
    new_df['cpi_family_usd']=new_df['cpi_index']/100*5699.47
    new_df['rent_single_usd']=new_df['rent_index']/100*(3096.05+1886.53)/2
    new_df['rent_family_usd']=new_df['rent_index']/100*(6017.17+3321.3)/2
    new_df['groceries_single_usd']=new_df['groceries_index']/100*283.69
    new_df['groceries_family_usd']=new_df['groceries_index']/100*1418.43 
    new_df['restaurant_single_usd']=new_df['restaurant_price_index']/100*795.83 
    new_df['restaurant_family_usd']=new_df['restaurant_price_index']/100*2365.20
    new_list = new_df.mean().tolist()
    df = pd.DataFrame({'city': city_list[num],
                       'cpi_index':new_list[0],
                       'rent_index':new_list[1],
                       'groceries_index':new_list[2],
                       'restaurant_price_index':new_list[3],
                       'cpi_single_usd':new_list[4],
                       'cpi_family_usd':new_list[5],
                       'rent_single_usd':new_list[6],
                       'rent_family_usd':new_list[7],
                       'groceries_single_usd':new_list[8],
                       'groceries_family_usd':new_list[9],
                       'restaurant_single_usd':new_list[10],
                       'restaurant_family_usd':new_list[11],},index=[num])
    df=df[['city','cpi_index','rent_index','groceries_index','restaurant_price_index',
           'cpi_single_usd','cpi_family_usd','rent_single_usd','rent_family_usd','groceries_single_usd',
           'groceries_family_usd','restaurant_single_usd','restaurant_family_usd']]
    return df

In [31]:
# Use NY as Benchmark

In [32]:
cols = ['city','cpi_index','rent_index','groceries_index','restaurant_price_index',
        'cpi_single_usd','cpi_family_usd','rent_single_usd','rent_family_usd','groceries_single_usd',
        'groceries_family_usd','restaurant_single_usd','restaurant_family_usd']
data = []
for x in range(42):
    data.append(ds(x).values.tolist()[0])
c_df = pd.DataFrame(data, columns=cols)
c_df

/Users/yijunwang/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/yijunwang/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/Users/yijunwang/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/yijunwang/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/yijunwang/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/Users/yijunwang/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/Users/yijunwang/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
/Users/yijunwang/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

,city,cpi_index,rent_index,groceries_index,restaurant_price_index,cpi_single_usd,cpi_family_usd,rent_single_usd,rent_family_usd,groceries_single_usd,groceries_family_usd,restaurant_single_usd,restaurant_family_usd
0,Cupertino,87.923743,72.344987,91.420076,81.487248,1720.966586,5011.187339,1802.323438,3377.957475,259.349614,1296.729788,648.499966,1927.336390
1,Irvine,77.278220,55.978405,81.968061,76.185493,1512.597521,4404.448993,1394.584406,2613.763279,232.535192,1162.659564,606.307008,1801.939278
2,Los Angeles,77.278220,58.499811,86.376638,76.874462,1512.597521,4404.448993,1457.399935,2731.493638,245.041885,1225.192151,611.790035,1818.234786
3,Menlo Park,88.804493,73.032078,92.710213,80.762974,1738.205858,5061.385421,1819.440853,3410.039342,263.009603,1315.029471,642.735977,1910.205865
4,Mountain View,88.804493,73.972060,92.710213,81.222233,1738.205858,5061.385421,1842.858545,3453.929336,263.009603,1315.029471,646.390893,1921.068243
5,Palo Alto,88.804493,73.456483,92.710213,82.237305,1738.205858,5061.385421,1830.014003,3429.855791,263.009603,1315.029471,654.469141,1945.076726
6,San Diego,55.205789,41.747300,69.550640,71.757460,1080.564990,3146.437381,1040.046314,1949.279550,197.308211,986.527143,571.067396,1697.207449
7,San Francisco,88.983086,73.128714,90.549304,80.492300,1741.701528,5071.564270,1821.848348,3414.551525,256.879322,1284.378498,640.581874,1903.803887
8,San Jose,87.923743,72.344987,91.420076,81.487248,1720.966586,5011.187339,1802.323438,3377.957475,259.349614,1296.729788,648.499966,1927.336390
9,San Mateo,88.804493,73.728850,90.434192,80.563982,1738.205858,5061.385421,1836.799473,3442.573281,256.552759,1282.745706,641.152338,1905.499301
10,Santa Clara,87.923743,72.344987,91.420076,81.487248,1720.966586,5011.187339,1802.323438,3377.957475,259.349614,1296.729788,648.499966,1927.336390
11,Santa Monica,77.462118,58.855161,85.614587,76.492032,1516.197023,4414.930186,1466.252751,2748.085797,242.880021,1214.382983,608.746541,1809.189550
12,Sunnyvale,88.804493,73.972060,92.710213,81.222233,1738.205858,5061.385421,1842.858545,3453.929336,263.009603,1315.029471,646.390893,1921.068243
13,Boulder,77.691173,48.591218,83.125440,76.626588,1520.680410,4427.985111,1210.548161,2268.838170,235.818561,1179.076179,609.817379,1812.372070
14,Denver,77.691173,48.591218,83.125440,76.626588,1520.680410,4427.985111,1210.548161,2268.838170,235.818561,1179.076179,609.817379,1812.372070
15,Washington,90.083016,48.029389,93.927629,81.742968,1763.230901,5134.254459,1196.551361,2242.605033,266.463291,1332.297668,650.535064,1933.384684
16,Atlanta,77.769566,37.494620,78.171034,68.358311,1522.214824,4432.453086,934.099717,1750.711917,221.763407,1108.801399,544.015949,1616.810780
17,Chicago,80.155146,37.389026,71.071531,69.785433,1568.908735,4568.418501,931.469061,1745.781479,201.622827,1008.099921,555.373409,1650.565055
18,Indianapolis,73.399514,27.400951,77.724163,65.125443,1436.678048,4183.383283,682.637164,1279.414816,220.495678,1102.462844,518.287809,1540.346967
19,Boston,81.763990,50.018109,88.461940,78.402355,1600.399288,4660.114098,1246.096159,2335.463073,250.957677,1254.770692,623.949464,1854.372508
20,Cambridge,81.763990,49.586778,88.461940,78.915476,1600.399288,4660.114098,1235.350450,2315.323209,250.957677,1254.770692,628.033034,1866.508844
21,Kansas City,70.844107,31.355785,71.679007,68.342493,1386.660039,4037.738610,781.163535,1464.075285,203.346174,1016.716532,543.890061,1616.436641
22,St. Louis,70.760428,24.080157,69.150312,59.861769,1385.022155,4032.969346,599.906536,1124.359105,196.172519,980.848766,476.397919,1415.850569
23,Minneapolis,79.915594,37.638382,85.119950,71.579434,1564.219885,4554.765298,937.681238,1757.424489,241.476786,1207.366908,569.650607,1692.996766
24,Charlotte,75.351919,30.407402,82.997041,60.301947,1474.893259,4294.660040,757.536556,1419.793039,235.454304,1177.254923,479.900988,1426.261659
25,Raleigh,68.919493,31.867200,78.524579,82.203788,1348.988804,3928.045827,793.904366,1487.954454,222.766379,1113.816191,654.202402,1944.283983
26,New York,87.823270,58.531234,85.319589,93.260994,1718.999992,5005.460923,1458.182788,2732.960879,242.043141,1210.198640,742.198969,2205.809030
27,Cincinnati,69.444497,26.536370,67.566759,81.232693,1359.264911,3957.968254,661.097945,1239.045499,191.680140,958.387186,646.474144,1921.315665
28,Cleveland,73.061107,19.772901,79.157073,69.967317,1430.054267,4164.095862,492.600303,923.243210,224.560699,1122.787664,556.820902,1654.866990
29,Portland,73.415445,36.733446,73.435857,66.469477,1436.989862,4184.291237,915.136664,1715.170912,208.330181,1041.636220,528.984036,1572.136060
30,Philadelphia,80.637020,42.520191,77.971068,78.134406,1578.340647,4595.882762,1059.301256,1985.367621,221.196122,1105.965015,621.817047,1848.034982
31,Austin,72.459407,33.754946,66.866118,61.945944,1418.276958,4129.802167,840.933591,1576.097747,189.692491,948.449080,492.984403,1465.145459
32,Dallas,69.450398,31.786687,69.577990,65.717818,1359.380430,3958.304626,791.898554,1484.195113,197.385800,986.915087,523.002114,1554.357840
33,Houston,83.440899,40.699422,93.409072,74.381816,1633.222096,4755.689015,1013.940636,1900.351668,264.992198,1324.942307,591.952808,1759.278719
34,Nashville,71.875212,31.717440,74.605912,63.137604,1406.842268,4096.506127,790.173412,1480.961812,211.649511,1058.232635,502.467995,1493.330614
35,Plano,69.450398,31.786687,69.577990,65.717818,1359.380430,3958.304626,791.898554,1484.195113,197.385800,986.915087,523.002114,1554.357840
36,Salt Lake City,66.757517,26.664231,63.000525,67.452318,1306.671581,3804.824647,664.283311,1245.015588,178.726189,893.618346,536.805781,1595.382222
37,McLean,90.083016,46.560009,91.193276,81.260276,1763.230901,5134.254459,1159.944850,2173.996240,258.706204,1293.512780,646.693656,1921.968052
38,Reston,90.435431,47.379995,91.333414,81.548049,1770.128856,5154.340231,1180.373082,2212.283318,259.103761,1295.500540,648.983836,1928.774449
39,Richmond,70.982688,33.733621,73.771533,74.276550,1389.372542,4045.636997,840.402327,1575.102040,209.282461,1046.397551,591.115071,1756.788971
40,Bellevue,83.625692,41.815220,88.525968,77.117135,1636.839124,4766.221240,1041.738402,1952.450903,251.139319,1255.678889,613.721294,1823.974473
41,Seattle,83.625692,41.615714,88.525968,79.580031,1636.839124,4766.221240,1036.768117,1943.135475,251.139319,1255.678889,633.321759,1882.226889

In [33]:
csv_path='ds_team_project1/data/salary/payscale_ds_salary.csv'
salary_df=pd.read_csv(csv_path)
salary_df.head()

,Unnamed: 0,occupation,state,city,total_cash_comp_md_pay,base_salary_md_pay,bonus_md_pay,sample_size,last_reviewed
0,0,"Data Scientist, IT",California,Cupertino,130000.00,125000.00,14000.00,6,2018-01-10T14:56:09.8427599-08:00
1,1,"Data Scientist, IT",California,Irvine,86955.19,85295.36,7500.00,16,2018-01-05T02:53:31.5132805-08:00
2,2,"Data Scientist, IT",California,Los Angeles,85000.05,86269.74,4000.00,24,2018-01-10T14:46:11.6752289-08:00
3,3,"Data Scientist, IT",California,Menlo Park,86400.00,86400.00,13265.57,5,2018-01-04T06:30:44.8894913-08:00
4,4,"Data Scientist, IT",California,Mountain View,114650.24,103042.00,9932.93,28,2018-01-10T14:46:32.5088419-08:00

In [34]:
c_df['occupation']=salary_df['occupation']
c_df['salary_usd']=salary_df['base_salary_md_pay']
c_df['col_single_usd']= c_df['cpi_single_usd'] + c_df['rent_single_usd']
c_df['col_family_usd']= c_df['cpi_family_usd'] + c_df['rent_family_usd']
c_df['ds_single_usd']= salary_df['base_salary_md_pay']/12 - c_df['col_single_usd']
c_df['ds_family_usd']= salary_df['base_salary_md_pay']/12 - c_df['col_family_usd']

In [35]:
c_df['state'] = o_df['state']
new_c_df = c_df[['occupation','state','city','salary_usd','cpi_index','rent_index','groceries_index',
                 'restaurant_price_index','cpi_single_usd','cpi_family_usd','rent_single_usd','rent_family_usd',
                 'groceries_single_usd','groceries_family_usd','restaurant_single_usd','restaurant_family_usd',
                 'col_single_usd','col_family_usd','ds_single_usd','ds_family_usd']]
new_c_df

,occupation,state,city,salary_usd,cpi_index,rent_index,groceries_index,restaurant_price_index,cpi_single_usd,cpi_family_usd,rent_single_usd,rent_family_usd,groceries_single_usd,groceries_family_usd,restaurant_single_usd,restaurant_family_usd,col_single_usd,col_family_usd,ds_single_usd,ds_family_usd
0,"Data Scientist, IT",California,Cupertino,125000.00,87.923743,72.344987,91.420076,81.487248,1720.966586,5011.187339,1802.323438,3377.957475,259.349614,1296.729788,648.499966,1927.336390,3523.290024,8389.144814,6893.376643,2027.521852
1,"Data Scientist, IT",California,Irvine,85295.36,77.278220,55.978405,81.968061,76.185493,1512.597521,4404.448993,1394.584406,2613.763279,232.535192,1162.659564,606.307008,1801.939278,2907.181927,7018.212272,4200.764740,89.734395
2,"Data Scientist, IT",California,Los Angeles,86269.74,77.278220,58.499811,86.376638,76.874462,1512.597521,4404.448993,1457.399935,2731.493638,245.041885,1225.192151,611.790035,1818.234786,2969.997456,7135.942631,4219.147544,53.202369
3,"Data Scientist, IT",California,Menlo Park,86400.00,88.804493,73.032078,92.710213,80.762974,1738.205858,5061.385421,1819.440853,3410.039342,263.009603,1315.029471,642.735977,1910.205865,3557.646711,8471.424763,3642.353289,-1271.424763
4,"Data Scientist, IT",California,Mountain View,103042.00,88.804493,73.972060,92.710213,81.222233,1738.205858,5061.385421,1842.858545,3453.929336,263.009603,1315.029471,646.390893,1921.068243,3581.064402,8515.314757,5005.768931,71.518576
5,"Data Scientist, IT",California,Palo Alto,114109.51,88.804493,73.456483,92.710213,82.237305,1738.205858,5061.385421,1830.014003,3429.855791,263.009603,1315.029471,654.469141,1945.076726,3568.219861,8491.241212,5940.905973,1017.884621
6,"Data Scientist, IT",California,San Diego,91324.00,55.205789,41.747300,69.550640,71.757460,1080.564990,3146.437381,1040.046314,1949.279550,197.308211,986.527143,571.067396,1697.207449,2120.611304,5095.716931,5489.722030,2514.616403
7,"Data Scientist, IT",California,San Francisco,114060.42,88.983086,73.128714,90.549304,80.492300,1741.701528,5071.564270,1821.848348,3414.551525,256.879322,1284.378498,640.581874,1903.803887,3563.549876,8486.115795,5941.485124,1018.919205
8,"Data Scientist, IT",California,San Jose,117109.79,87.923743,72.344987,91.420076,81.487248,1720.966586,5011.187339,1802.323438,3377.957475,259.349614,1296.729788,648.499966,1927.336390,3523.290024,8389.144814,6235.859143,1370.004352
9,"Data Scientist, IT",California,San Mateo,104804.68,88.804493,73.728850,90.434192,80.563982,1738.205858,5061.385421,1836.799473,3442.573281,256.552759,1282.745706,641.152338,1905.499301,3575.005331,8503.958702,5158.718002,229.764631
10,"Data Scientist, IT",California,Santa Clara,109926.79,87.923743,72.344987,91.420076,81.487248,1720.966586,5011.187339,1802.323438,3377.957475,259.349614,1296.729788,648.499966,1927.336390,3523.290024,8389.144814,5637.275810,771.421019
11,"Data Scientist, IT",California,Santa Monica,88988.76,77.462118,58.855161,85.614587,76.492032,1516.197023,4414.930186,1466.252751,2748.085797,242.880021,1214.382983,608.746541,1809.189550,2982.449775,7163.015983,4433.280225,252.714017
12,"Data Scientist, IT",California,Sunnyvale,98263.52,88.804493,73.972060,92.710213,81.222233,1738.205858,5061.385421,1842.858545,3453.929336,263.009603,1315.029471,646.390893,1921.068243,3581.064402,8515.314757,4607.562264,-326.688091
13,"Data Scientist, IT",Colorado,Boulder,72851.03,77.691173,48.591218,83.125440,76.626588,1520.680410,4427.985111,1210.548161,2268.838170,235.818561,1179.076179,609.817379,1812.372070,2731.228572,6696.823281,3339.690595,-625.904114
14,"Data Scientist, IT",Colorado,Denver,79984.80,77.691173,48.591218,83.125440,76.626588,1520.680410,4427.985111,1210.548161,2268.838170,235.818561,1179.076179,609.817379,1812.372070,2731.228572,6696.823281,3934.171428,-31.423281
15,"Data Scientist, IT",District of Columbia,Washington,79280.37,90.083016,48.029389,93.927629,81.742968,1763.230901,5134.254459,1196.551361,2242.605033,266.463291,1332.297668,650.535064,1933.384684,2959.782262,7376.859492,3646.915238,-770.161992
16,"Data Scientist, IT",Georgia,Atlanta,87428.57,77.769566,37.494620,78.171034,68.358311,1522.214824,4432.453086,934.099717,1750.711917,221.763407,1108.801399,544.015949,1616.810780,2456.314541,6183.165003,4829.399626,1102.549164
17,"Data Scientist, IT",Illinois,Chicago,79423.20,80.155146,37.389026,71.071531,69.785433,1568.908735,4568.418501,931.469061,1745.781479,201.622827,1008.099921,555.373409,1650.565055,2500.377796,6314.199979,4118.222204,304.400021
18,"Data Scientist, IT",Indiana,Indianapolis,64000.00,73.399514,27.400951,77.724163,65.125443,1436.678048,4183.383283,682.637164,1279.414816,220.495678,1102.462844,518.287809,1540.346967,2119.315212,5462.798099,3214.018121,-129.464766
19,"Data Scientist, IT",Massachusetts,Boston,87729.95,81.763990,50.018109,88.461940,78.402355,1600.399288,4660.114098,1246.096159,2335.463073,250.957677,1254.770692,623.949464,1854.372508,2846.495447,6995.577171,4464.333720,315.251995
20,"Data Scientist, IT",Massachusetts,Cambridge,80000.00,81.763990,49.586778,88.461940,78.915476,1600.399288,4660.114098,1235.350450,2315.323209,250.957677,1254.770692,628.033034,1866.508844,2835.749738,6975.437308,3830.916929,-308.770641
21,"Data Scientist, IT",Missouri,Kansas City,90000.00,70.844107,31.355785,71.679007,68.342493,1386.660039,4037.738610,781.163535,1464.075285,203.346174,1016.716532,543.890061,1616.436641,2167.823574,5501.813895,5332.176426,1998.186105
22,"Data Scientist, IT",Missouri,St. Louis,88982.67,70.760428,24.080157,69.150312,59.861769,1385.022155,4032.969346,599.906536,1124.359105,196.172519,980.848766,476.397919,1415.850569,1984.928691,5157.328451,5430.293809,2257.894049
23,"Data Scientist, IT",Minnesota,Minneapolis,85134.35,79.915594,37.638382,85.119950,71.579434,1564.219885,4554.765298,937.681238,1757.424489,241.476786,1207.366908,569.650607,1692.996766,2501.901123,6312.189787,4592.628043,782.339379
24,"Data Scientist, IT",North Carolina,Charlotte,82500.00,75.351919,30.407402,82.997041,60.301947,1474.893259,4294.660040,757.536556,1419.793039,235.454304,1177.254923,479.900988,1426.261659,2232.429814,5714.453078,4642.570186,1160.546922
25,"Data Scientist, IT",North Carolina,Raleigh,90141.22,68.919493,31.867200,78.524579,82.203788,1348.988804,3928.045827,793.904366,1487.954454,222.766379,1113.816191,654.202402,1944.283983,2142.893170,5416.000281,5368.875163,2095.768052
26,"Data Scientist, IT",New York,New York,99199.95,87.823270,58.531234,85.319589,93.260994,1718.999992,5005.460923,1458.182788,2732.960879,242.043141,1210.198640,742.198969,2205.809030,3177.182779,7738.421802,5089.479721,528.240698
27,"Data Scientist, IT",Ohio,Cincinnati,77425.48,69.444497,26.536370,67.566759,81.232693,1359.264911,3957.968254,661.097945,1239.045499,191.680140,958.387186,646.474144,1921.315665,2020.362855,5197.013752,4431.760478,1255.109581
28,"Data Scientist, IT",Ohio,Cleveland,65597.65,73.061107,19.772901,79.157073,69.967317,1430.054267,4164.095862,492.600303,923.243210,224.560699,1122.787664,556.820902,1654.866990,1922.654571,5087.339073,3543.816263,379.131761
29,"Data Scientist, IT",Oregon,Portland,75000.00,73.415445,36.733446,73.435857,66.469477,1436.989862,4184.291237,915.136664,1715.170912,208.330181,1041.636220,528.984036,1572.136060,2352.126526,5899.462149,3897.873474,350.537851
30,"Data Scientist, IT",Pennsylvania,Philadelphia,88497.18,80.637020,42.520191,77.971068,78.134406,1578.340647,4595.882762,1059.301256,1985.367621,221.196122,1105.965015,621.817047,1848.034982,2637.641903,6581.250383,4737.123097,793.514617
31,"Data Scientist, IT",Texas,Austin,82171.52,72.459407,33.754946,66.866118,61.945944,1418.276958,4129.802167,840.933591,1576.097747,189.692491,948.449080,492.984403,1465.145459,2259.210549,5705.899914,4588.416118,1141.726753
32,"Data Scientist, IT",Texas,Dallas,77669.80,69.450398,31.786687,69.577990,65.717818,1359.380430,3958.304626,791.898554,1484.195113,197.385800,986.915087,523.002114,1554.357840,2151.278983,5442.499740,4321.204350,1029.983594
33,"Data Scientist, IT",Texas,Houston,91116.75,83.440899,40.699422,93.409072,74.381816,1633.222096,4755.689015,1013.940636,1900.351668,264.992198,1324.942307,591.952808,1759.278719,2647.162732,6656.040684,4945.899768,937.021816
34,"Data Scientist, IT",Tennessee,Nashville,68261.47,71.875212,31.717440,74.605912,63.137604,1406.842268,4096.506127,790.173412,1480.961812,211.649511,1058.232635,502.467995,1493.330614,2197.015681,5577.467939,3491.440153,110.987894
35,"Data Scientist, IT",Texas,Plano,85000.00,69.450398,31.786687,69.577990,65.717818,1359.380430,3958.304626,791.898554,1484.195113,197.385800,986.915087,523.002114,1554.357840,2151.278983,5442.499740,4932.054350,1640.833594
36,"Data Scientist, IT",Utah,Salt Lake City,73614.13,66.757517,26.664231,63.000525,67.452318,1306.671581,3804.824647,664.283311,1245.015588,178.726189,893.618346,536.805781,1595.382222,1970.954892,5049.840235,4163.555942,1084.670598
37,"Data Scientist, IT",Virginia,McLean,99192.14,90.083016,46.560009,91.193276,81.260276,1763.230901,5134.254459,1159.944850,2173.996240,258.706204,1293.512780,646.693656,1921.968052,2923.175751,7308.250699,5342.835916,957.760968
38,"Data Scientist, IT",Virginia,Reston,93477.83,90.435431,47.379995,91.333414,81.548049,1770.128856,5154.340231,1180.373082,2212.283318,259.103761,1295.500540,648.983836,1928.774449,2950.501937,7366.623549,4839.317229,423.195618
39,"Data Scientist, IT",Virginia,Richmond,95000.00,70.982688,33.733621,73.771533,74.276550,1389.372542,4045.636997,840.402327,1575.102040,209.282461,1046.397551,591.115071,1756.788971,2229.774869,5620.739037,5686.891798,2295.927629
40,"Data Scientist, IT",Washington,Bellevue,111968.75,83.625692,41.815220,88.525968,77.117135,1636.839124,4766.221240,1041.738402,1952.450903,251.139319,1255.678889,613.721294,1823.974473,2678.577526,6718.672143,6652.151640,2612.057024
41,"Data Scientist, IT",Washington,Seattle,100529.55,83.625692,41.615714,88.525968,79.580031,1636.839124,4766.221240,1036.768117,1943.135475,251.139319,1255.678889,633.321759,1882.226889,2673.607241,6709.356716,5703.855259,1668.105784

In [36]:
top10_df=new_c_df.nlargest(10,'salary_usd')
top10_df

,occupation,state,city,salary_usd,cpi_index,rent_index,groceries_index,restaurant_price_index,cpi_single_usd,cpi_family_usd,rent_single_usd,rent_family_usd,groceries_single_usd,groceries_family_usd,restaurant_single_usd,restaurant_family_usd,col_single_usd,col_family_usd,ds_single_usd,ds_family_usd
0,"Data Scientist, IT",California,Cupertino,125000.00,87.923743,72.344987,91.420076,81.487248,1720.966586,5011.187339,1802.323438,3377.957475,259.349614,1296.729788,648.499966,1927.336390,3523.290024,8389.144814,6893.376643,2027.521852
8,"Data Scientist, IT",California,San Jose,117109.79,87.923743,72.344987,91.420076,81.487248,1720.966586,5011.187339,1802.323438,3377.957475,259.349614,1296.729788,648.499966,1927.336390,3523.290024,8389.144814,6235.859143,1370.004352
5,"Data Scientist, IT",California,Palo Alto,114109.51,88.804493,73.456483,92.710213,82.237305,1738.205858,5061.385421,1830.014003,3429.855791,263.009603,1315.029471,654.469141,1945.076726,3568.219861,8491.241212,5940.905973,1017.884621
7,"Data Scientist, IT",California,San Francisco,114060.42,88.983086,73.128714,90.549304,80.492300,1741.701528,5071.564270,1821.848348,3414.551525,256.879322,1284.378498,640.581874,1903.803887,3563.549876,8486.115795,5941.485124,1018.919205
40,"Data Scientist, IT",Washington,Bellevue,111968.75,83.625692,41.815220,88.525968,77.117135,1636.839124,4766.221240,1041.738402,1952.450903,251.139319,1255.678889,613.721294,1823.974473,2678.577526,6718.672143,6652.151640,2612.057024
10,"Data Scientist, IT",California,Santa Clara,109926.79,87.923743,72.344987,91.420076,81.487248,1720.966586,5011.187339,1802.323438,3377.957475,259.349614,1296.729788,648.499966,1927.336390,3523.290024,8389.144814,5637.275810,771.421019
9,"Data Scientist, IT",California,San Mateo,104804.68,88.804493,73.728850,90.434192,80.563982,1738.205858,5061.385421,1836.799473,3442.573281,256.552759,1282.745706,641.152338,1905.499301,3575.005331,8503.958702,5158.718002,229.764631
4,"Data Scientist, IT",California,Mountain View,103042.00,88.804493,73.972060,92.710213,81.222233,1738.205858,5061.385421,1842.858545,3453.929336,263.009603,1315.029471,646.390893,1921.068243,3581.064402,8515.314757,5005.768931,71.518576
41,"Data Scientist, IT",Washington,Seattle,100529.55,83.625692,41.615714,88.525968,79.580031,1636.839124,4766.221240,1036.768117,1943.135475,251.139319,1255.678889,633.321759,1882.226889,2673.607241,6709.356716,5703.855259,1668.105784
26,"Data Scientist, IT",New York,New York,99199.95,87.823270,58.531234,85.319589,93.260994,1718.999992,5005.460923,1458.182788,2732.960879,242.043141,1210.198640,742.198969,2205.809030,3177.182779,7738.421802,5089.479721,528.240698

In [37]:
new_c_df.to_csv('ds_team_project1/data/indices/benchmark_NY/monetary_conversion/converted_data_nybnch.csv')
top10_df.to_csv('ds_team_project1/data/indices/benchmark_NY/monetary_conversion/top10_data_nybnch.csv')