In [2]:
import pandas as pd

In [3]:
csv_path='ds_team_project1/data/indices/benchmark_LA/la_benchmark_ds_indices.csv'
o_df = pd.read_csv(csv_path)
new_all_df = o_df[['city','restaurant_price_index','cpi_index','rent_index','groceries_index']]
new_all_df.head()

,city,restaurant_price_index,cpi_index,rent_index,groceries_index
0,Cupertino,102.625556,99.357435,126.588209,97.185465
1,Irvine,92.744012,101.690429,96.182653,108.180130
2,Los Angeles,100.000000,100.000000,100.000000,100.000000
3,Menlo Park,90.637559,117.694787,157.106534,135.047162
4,Mountain View,98.986122,100.347880,126.291129,102.240896

In [4]:
city_list = new_all_df['city'].tolist()
#city_list

In [46]:
def ds(num):
    csv = city_list[num] + '_ds_labnch_indices.csv'
    csv_path = 'ds_team_project1/data/indices/benchmark_LA/nearby_cities/' + csv
    city_df = pd.read_csv(csv_path)
    new_df = city_df[['city','cpi_index','rent_index', 'groceries_index','restaurant_price_index']]
    new_df['cpi_single_usd']=new_df['cpi_index']/100*1760.35
    new_df['cpi_family_usd']=new_df['cpi_index']/100*4791.38
    new_df['rent_single_usd']=new_df['rent_index']/100*(2075.33+1582.08)/2
    new_df['rent_family_usd']=new_df['rent_index']/100*(3466.02+2722.98)/2
    new_df['groceries_single_usd']=new_df['groceries_index']/100*241.80
    new_df['groceries_family_usd']=new_df['groceries_index']/100*1209.02
    new_df['restaurant_single_usd']=new_df['restaurant_price_index']/100*667.70
    new_df['restaurant_family_usd']=new_df['restaurant_price_index']/100*1877.15
    new_list = new_df.mean().tolist()
    df = pd.DataFrame({'city': city_list[num],
                       'cpi_index':new_list[0],
                       'rent_index':new_list[1],
                       'groceries_index':new_list[2],
                       'restaurant_price_index':new_list[3],
                       'cpi_single_usd':new_list[4],
                       'cpi_family_usd':new_list[5],
                       'rent_single_usd':new_list[6],
                       'rent_family_usd':new_list[7],
                       'groceries_single_usd':new_list[8],
                       'groceries_family_usd':new_list[9],
                       'restaurant_single_usd':new_list[10],
                       'restaurant_family_usd':new_list[11],},index=[num])
    df=df[['city','cpi_index','rent_index','groceries_index','restaurant_price_index',
           'cpi_single_usd','cpi_family_usd','rent_single_usd','rent_family_usd','groceries_single_usd',
           'groceries_family_usd','restaurant_single_usd','restaurant_family_usd']]
    return df

In [47]:
# Use LA as Benchmark

In [48]:
cols = ['city','cpi_index','rent_index','groceries_index','restaurant_price_index',
        'cpi_single_usd','cpi_family_usd','rent_single_usd','rent_family_usd','groceries_single_usd',
        'groceries_family_usd','restaurant_single_usd','restaurant_family_usd']
data = []
for x in range(42):
    data.append(ds(x).values.tolist()[0])
c_df = pd.DataFrame(data, columns=cols)
c_df

/Users/yijunwang/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/yijunwang/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/Users/yijunwang/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/yijunwang/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/yijunwang/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/Users/yijunwang/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/Users/yijunwang/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
/Users/yijunwang/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

,city,cpi_index,rent_index,groceries_index,restaurant_price_index,cpi_single_usd,cpi_family_usd,rent_single_usd,rent_family_usd,groceries_single_usd,groceries_family_usd,restaurant_single_usd,restaurant_family_usd
0,Cupertino,106.791994,105.013686,110.509846,98.793207,1879.912861,5116.810227,1920.390526,3249.648512,267.212807,1336.086135,659.642243,1854.496685
1,Irvine,93.861965,81.256475,99.084119,92.365485,1652.299095,4497.283404,1485.941216,2514.481610,239.585400,1197.946818,616.724342,1733.838698
2,Los Angeles,93.861965,84.916467,104.413268,93.200775,1652.299095,4497.283404,1552.871681,2627.740077,252.471283,1262.377298,622.301576,1749.518351
3,Menlo Park,107.861751,106.011045,112.069380,97.915115,1898.744330,5168.066355,1938.629273,3280.511776,270.983762,1354.941222,653.779220,1838.013573
4,Mountain View,107.861751,107.375493,112.069380,98.471908,1898.744330,5168.066355,1963.581017,3322.734644,270.983762,1354.941222,657.496933,1848.465430
5,Palo Alto,107.861751,106.627097,112.069380,99.702558,1898.744330,5168.066355,1949.895052,3299.575512,270.983762,1354.941222,665.713978,1871.566562
6,San Diego,67.052836,60.599055,84.073770,86.997043,1180.364592,3212.756155,1108.177947,1875.237754,203.290376,1016.468697,580.879256,1633.064992
7,San Francisco,108.078669,106.151319,109.457245,97.586956,1902.562856,5178.459748,1941.194478,3284.852567,264.667617,1323.359978,651.588105,1831.853544
8,San Jose,106.791994,105.013686,110.509846,98.793207,1879.912861,5116.810227,1920.390526,3249.648512,267.212807,1336.086135,659.642243,1854.496685
9,San Mateo,107.861751,107.022457,109.318095,97.673861,1898.744330,5168.066355,1957.125026,3311.809939,264.331153,1321.677630,652.168371,1833.484884
10,Santa Clara,106.791994,105.013686,110.509846,98.793207,1879.912861,5116.810227,1920.390526,3249.648512,267.212807,1336.086135,659.642243,1854.496685
11,Santa Monica,94.085326,85.432283,103.492090,92.737126,1656.231043,4507.985512,1562.304430,2643.701996,250.243874,1251.240066,619.205790,1740.814961
12,Sunnyvale,107.861751,107.375493,112.069380,98.471908,1898.744330,5168.066355,1963.581017,3322.734644,270.983762,1354.941222,657.496933,1848.465430
13,Boulder,94.363536,70.533469,100.483175,92.900259,1661.128510,4521.315602,1289.849075,2182.658200,242.968318,1214.861685,620.295027,1743.877204
14,Denver,94.363536,70.533469,100.483175,92.900259,1661.128510,4521.315602,1289.849075,2182.658200,242.968318,1214.861685,620.295027,1743.877204
15,Washington,109.414642,69.717935,113.541010,99.103236,1926.080654,5242.471284,1274.935369,2157.421508,274.542162,1372.733516,661.712307,1860.316396
16,Atlanta,94.458752,54.425999,94.494221,82.875996,1662.804641,4525.877751,995.290972,1684.212550,228.487027,1142.454032,553.363022,1555.706750
17,Chicago,97.356272,54.272722,85.912245,84.606204,1713.811141,4664.708965,992.487986,1679.469391,207.735807,1038.696219,564.915622,1588.185351
18,Indianapolis,89.150896,39.774351,93.954037,78.956542,1569.367797,4271.558199,727.355542,1230.817287,227.180862,1135.923099,527.192831,1482.132729
19,Boston,99.310371,72.604699,106.934009,95.053156,1748.210121,4758.337269,1327.725761,2246.752411,258.566435,1292.853561,634.669924,1784.290323
20,Cambridge,99.310371,71.978592,106.934009,95.675252,1748.210121,4758.337269,1316.276119,2227.377543,258.566435,1292.853561,638.823657,1795.967990
21,Kansas City,86.047104,45.515061,86.646569,82.856818,1514.730188,4122.843713,832.336205,1408.463578,209.511404,1047.574348,553.234971,1555.346751
22,St. Louis,85.945467,34.953991,83.589848,72.574990,1512.941031,4117.973925,639.205375,1081.651240,202.120252,1010.617978,484.583205,1362.341415
23,Minneapolis,97.065313,54.634679,102.894166,86.781208,1708.689235,4650.767988,999.107112,1690.670151,248.798094,1244.011050,579.438125,1629.013443
24,Charlotte,91.522283,44.138418,100.327964,73.108651,1611.112516,4385.180382,807.161464,1365.863357,242.593017,1212.985152,488.146462,1372.359040
25,Raleigh,83.709472,46.257415,94.921592,99.661922,1473.579687,4010.838889,845.911666,1431.435716,229.520408,1147.621026,665.442656,1870.803778
26,New York,106.669960,84.962081,103.135492,113.067417,1877.764635,5110.963113,1553.705817,2629.151586,249.381620,1246.928726,754.951146,2122.445026
27,Cincinnati,84.347140,38.519353,81.675628,98.484591,1484.804881,4041.392003,704.405326,1191.981365,197.491669,987.474679,657.581614,1848.703500
28,Cleveland,88.739867,28.701715,95.686158,84.826716,1562.132252,4251.864249,524.869696,888.174569,231.369130,1156.864787,566.387984,1592.324704
29,Portland,89.170245,53.321103,88.770273,80.586017,1569.708410,4272.485290,975.085682,1650.021542,214.646521,1073.250359,538.072836,1512.720419
30,Philadelphia,97.941555,61.720958,94.252499,94.728301,1724.114172,4692.752102,1128.694247,1909.955049,227.902543,1139.531563,632.500868,1778.192309
31,Austin,88.009044,48.997607,80.828683,75.101793,1549.267206,4216.847731,896.021695,1516.230958,195.443756,977.234946,501.454672,1409.773307
32,Dallas,84.354308,46.140545,84.106832,79.674724,1484.931069,4041.735466,843.774457,1427.819171,203.370319,1016.868415,531.988135,1495.614090
33,Houston,101.347141,59.077989,112.914172,90.178750,1784.064402,4855.926658,1080.362132,1828.168358,273.026467,1365.154917,602.123514,1692.790406
34,Nashville,87.299482,46.040029,90.184652,76.546534,1536.776423,4182.849897,841.936304,1424.708684,218.066489,1090.350484,511.101207,1436.893262
35,Plano,84.354308,46.140545,84.106832,79.674724,1484.931069,4041.735466,843.774457,1427.819171,203.370319,1016.868415,531.988135,1495.614090
36,Salt Lake City,81.083540,38.704950,76.155901,81.777590,1427.354099,3885.020525,707.799360,1197.724685,184.144969,920.740075,546.028972,1535.088040
37,McLean,109.414642,67.585030,110.235686,98.518032,1926.080654,5242.471284,1235.930829,2091.418763,266.549888,1332.771489,657.804898,1849.331232
38,Reston,109.842684,68.775296,110.405087,98.866920,1933.615695,5262.980413,1257.697279,2128.251538,266.959500,1334.819579,660.134427,1855.880395
39,Richmond,86.215424,48.966653,89.176043,90.051128,1517.693215,4130.908577,895.455629,1515.273072,215.627673,1078.156199,601.271383,1690.394753
40,Bellevue,101.571591,60.697646,107.011408,93.494985,1788.015494,4866.680875,1109.980881,1878.288645,258.753584,1293.789322,624.266017,1755.041118
41,Seattle,101.571591,60.408048,107.011408,96.480942,1788.015494,4866.680875,1104.685001,1869.327057,258.753584,1293.789322,644.203250,1811.092004

In [49]:
csv_path='ds_team_project1/data/salary/payscale_ds_salary.csv'
salary_df=pd.read_csv(csv_path)
salary_df.head()

,Unnamed: 0,occupation,state,city,total_cash_comp_md_pay,base_salary_md_pay,bonus_md_pay,sample_size,last_reviewed
0,0,"Data Scientist, IT",California,Cupertino,130000.00,125000.00,14000.00,6,2018-01-10T14:56:09.8427599-08:00
1,1,"Data Scientist, IT",California,Irvine,86955.19,85295.36,7500.00,16,2018-01-05T02:53:31.5132805-08:00
2,2,"Data Scientist, IT",California,Los Angeles,85000.05,86269.74,4000.00,24,2018-01-10T14:46:11.6752289-08:00
3,3,"Data Scientist, IT",California,Menlo Park,86400.00,86400.00,13265.57,5,2018-01-04T06:30:44.8894913-08:00
4,4,"Data Scientist, IT",California,Mountain View,114650.24,103042.00,9932.93,28,2018-01-10T14:46:32.5088419-08:00

In [51]:
c_df['occupation']=salary_df['occupation']
c_df['salary_usd']=salary_df['base_salary_md_pay']
c_df['col_single_usd']= c_df['cpi_single_usd'] + c_df['rent_single_usd']
c_df['col_family_usd']= c_df['cpi_family_usd'] + c_df['rent_family_usd']
c_df['ds_single_usd']= salary_df['base_salary_md_pay']/12 - c_df['col_single_usd']
c_df['ds_family_usd']= salary_df['base_salary_md_pay']/12 - c_df['col_family_usd']

In [52]:
c_df['state'] = o_df['state']
new_c_df = c_df[['occupation','state','city','salary_usd','cpi_index','rent_index','groceries_index',
                 'restaurant_price_index','cpi_single_usd','cpi_family_usd','rent_single_usd','rent_family_usd',
                 'groceries_single_usd','groceries_family_usd','restaurant_single_usd','restaurant_family_usd',
                 'col_single_usd','col_family_usd','ds_single_usd','ds_family_usd']]
new_c_df

,occupation,state,city,salary_usd,cpi_index,rent_index,groceries_index,restaurant_price_index,cpi_single_usd,cpi_family_usd,rent_single_usd,rent_family_usd,groceries_single_usd,groceries_family_usd,restaurant_single_usd,restaurant_family_usd,col_single_usd,col_family_usd,ds_single_usd,ds_family_usd
0,"Data Scientist, IT",California,Cupertino,125000.00,106.791994,105.013686,110.509846,98.793207,1879.912861,5116.810227,1920.390526,3249.648512,267.212807,1336.086135,659.642243,1854.496685,3800.303387,8366.458739,6616.363280,2050.207928
1,"Data Scientist, IT",California,Irvine,85295.36,93.861965,81.256475,99.084119,92.365485,1652.299095,4497.283404,1485.941216,2514.481610,239.585400,1197.946818,616.724342,1733.838698,3138.240311,7011.765013,3969.706356,96.181653
2,"Data Scientist, IT",California,Los Angeles,86269.74,93.861965,84.916467,104.413268,93.200775,1652.299095,4497.283404,1552.871681,2627.740077,252.471283,1262.377298,622.301576,1749.518351,3205.170777,7125.023481,3983.974223,64.121519
3,"Data Scientist, IT",California,Menlo Park,86400.00,107.861751,106.011045,112.069380,97.915115,1898.744330,5168.066355,1938.629273,3280.511776,270.983762,1354.941222,653.779220,1838.013573,3837.373603,8448.578130,3362.626397,-1248.578130
4,"Data Scientist, IT",California,Mountain View,103042.00,107.861751,107.375493,112.069380,98.471908,1898.744330,5168.066355,1963.581017,3322.734644,270.983762,1354.941222,657.496933,1848.465430,3862.325347,8490.800998,4724.507987,96.032335
5,"Data Scientist, IT",California,Palo Alto,114109.51,107.861751,106.627097,112.069380,99.702558,1898.744330,5168.066355,1949.895052,3299.575512,270.983762,1354.941222,665.713978,1871.566562,3848.639382,8467.641867,5660.486452,1041.483966
6,"Data Scientist, IT",California,San Diego,91324.00,67.052836,60.599055,84.073770,86.997043,1180.364592,3212.756155,1108.177947,1875.237754,203.290376,1016.468697,580.879256,1633.064992,2288.542539,5087.993909,5321.790795,2522.339424
7,"Data Scientist, IT",California,San Francisco,114060.42,108.078669,106.151319,109.457245,97.586956,1902.562856,5178.459748,1941.194478,3284.852567,264.667617,1323.359978,651.588105,1831.853544,3843.757334,8463.312314,5661.277666,1041.722686
8,"Data Scientist, IT",California,San Jose,117109.79,106.791994,105.013686,110.509846,98.793207,1879.912861,5116.810227,1920.390526,3249.648512,267.212807,1336.086135,659.642243,1854.496685,3800.303387,8366.458739,5958.845780,1392.690428
9,"Data Scientist, IT",California,San Mateo,104804.68,107.861751,107.022457,109.318095,97.673861,1898.744330,5168.066355,1957.125026,3311.809939,264.331153,1321.677630,652.168371,1833.484884,3855.869356,8479.876294,4877.853977,253.847040
10,"Data Scientist, IT",California,Santa Clara,109926.79,106.791994,105.013686,110.509846,98.793207,1879.912861,5116.810227,1920.390526,3249.648512,267.212807,1336.086135,659.642243,1854.496685,3800.303387,8366.458739,5360.262447,794.107095
11,"Data Scientist, IT",California,Santa Monica,88988.76,94.085326,85.432283,103.492090,92.737126,1656.231043,4507.985512,1562.304430,2643.701996,250.243874,1251.240066,619.205790,1740.814961,3218.535474,7151.687509,4197.194526,264.042491
12,"Data Scientist, IT",California,Sunnyvale,98263.52,107.861751,107.375493,112.069380,98.471908,1898.744330,5168.066355,1963.581017,3322.734644,270.983762,1354.941222,657.496933,1848.465430,3862.325347,8490.800998,4326.301320,-302.174332
13,"Data Scientist, IT",Colorado,Boulder,72851.03,94.363536,70.533469,100.483175,92.900259,1661.128510,4521.315602,1289.849075,2182.658200,242.968318,1214.861685,620.295027,1743.877204,2950.977585,6703.973802,3119.941581,-633.054635
14,"Data Scientist, IT",Colorado,Denver,79984.80,94.363536,70.533469,100.483175,92.900259,1661.128510,4521.315602,1289.849075,2182.658200,242.968318,1214.861685,620.295027,1743.877204,2950.977585,6703.973802,3714.422415,-38.573802
15,"Data Scientist, IT",District of Columbia,Washington,79280.37,109.414642,69.717935,113.541010,99.103236,1926.080654,5242.471284,1274.935369,2157.421508,274.542162,1372.733516,661.712307,1860.316396,3201.016023,7399.892792,3405.681477,-793.195292
16,"Data Scientist, IT",Georgia,Atlanta,87428.57,94.458752,54.425999,94.494221,82.875996,1662.804641,4525.877751,995.290972,1684.212550,228.487027,1142.454032,553.363022,1555.706750,2658.095612,6210.090301,4627.618554,1075.623866
17,"Data Scientist, IT",Illinois,Chicago,79423.20,97.356272,54.272722,85.912245,84.606204,1713.811141,4664.708965,992.487986,1679.469391,207.735807,1038.696219,564.915622,1588.185351,2706.299127,6344.178356,3912.300873,274.421644
18,"Data Scientist, IT",Indiana,Indianapolis,64000.00,89.150896,39.774351,93.954037,78.956542,1569.367797,4271.558199,727.355542,1230.817287,227.180862,1135.923099,527.192831,1482.132729,2296.723339,5502.375485,3036.609994,-169.042152
19,"Data Scientist, IT",Massachusetts,Boston,87729.95,99.310371,72.604699,106.934009,95.053156,1748.210121,4758.337269,1327.725761,2246.752411,258.566435,1292.853561,634.669924,1784.290323,3075.935882,7005.089679,4234.893284,305.739487
20,"Data Scientist, IT",Massachusetts,Cambridge,80000.00,99.310371,71.978592,106.934009,95.675252,1748.210121,4758.337269,1316.276119,2227.377543,258.566435,1292.853561,638.823657,1795.967990,3064.486240,6985.714812,3602.180426,-319.048145
21,"Data Scientist, IT",Missouri,Kansas City,90000.00,86.047104,45.515061,86.646569,82.856818,1514.730188,4122.843713,832.336205,1408.463578,209.511404,1047.574348,553.234971,1555.346751,2347.066394,5531.307291,5152.933606,1968.692709
22,"Data Scientist, IT",Missouri,St. Louis,88982.67,85.945467,34.953991,83.589848,72.574990,1512.941031,4117.973925,639.205375,1081.651240,202.120252,1010.617978,484.583205,1362.341415,2152.146406,5199.625165,5263.076094,2215.597335
23,"Data Scientist, IT",Minnesota,Minneapolis,85134.35,97.065313,54.634679,102.894166,86.781208,1708.689235,4650.767988,999.107112,1690.670151,248.798094,1244.011050,579.438125,1629.013443,2707.796348,6341.438140,4386.732819,753.091027
24,"Data Scientist, IT",North Carolina,Charlotte,82500.00,91.522283,44.138418,100.327964,73.108651,1611.112516,4385.180382,807.161464,1365.863357,242.593017,1212.985152,488.146462,1372.359040,2418.273980,5751.043739,4456.726020,1123.956261
25,"Data Scientist, IT",North Carolina,Raleigh,90141.22,83.709472,46.257415,94.921592,99.661922,1473.579687,4010.838889,845.911666,1431.435716,229.520408,1147.621026,665.442656,1870.803778,2319.491353,5442.274605,5192.276981,2069.493728
26,"Data Scientist, IT",New York,New York,99199.95,106.669960,84.962081,103.135492,113.067417,1877.764635,5110.963113,1553.705817,2629.151586,249.381620,1246.928726,754.951146,2122.445026,3431.470452,7740.114699,4835.192048,526.547801
27,"Data Scientist, IT",Ohio,Cincinnati,77425.48,84.347140,38.519353,81.675628,98.484591,1484.804881,4041.392003,704.405326,1191.981365,197.491669,987.474679,657.581614,1848.703500,2189.210207,5233.373368,4262.913126,1218.749966
28,"Data Scientist, IT",Ohio,Cleveland,65597.65,88.739867,28.701715,95.686158,84.826716,1562.132252,4251.864249,524.869696,888.174569,231.369130,1156.864787,566.387984,1592.324704,2087.001949,5140.038818,3379.468885,326.432015
29,"Data Scientist, IT",Oregon,Portland,75000.00,89.170245,53.321103,88.770273,80.586017,1569.708410,4272.485290,975.085682,1650.021542,214.646521,1073.250359,538.072836,1512.720419,2544.794092,5922.506832,3705.205908,327.493168
30,"Data Scientist, IT",Pennsylvania,Philadelphia,88497.18,97.941555,61.720958,94.252499,94.728301,1724.114172,4692.752102,1128.694247,1909.955049,227.902543,1139.531563,632.500868,1778.192309,2852.808419,6602.707151,4521.956581,772.057849
31,"Data Scientist, IT",Texas,Austin,82171.52,88.009044,48.997607,80.828683,75.101793,1549.267206,4216.847731,896.021695,1516.230958,195.443756,977.234946,501.454672,1409.773307,2445.288900,5733.078689,4402.337766,1114.547977
32,"Data Scientist, IT",Texas,Dallas,77669.80,84.354308,46.140545,84.106832,79.674724,1484.931069,4041.735466,843.774457,1427.819171,203.370319,1016.868415,531.988135,1495.614090,2328.705526,5469.554637,4143.777807,1002.928697
33,"Data Scientist, IT",Texas,Houston,91116.75,101.347141,59.077989,112.914172,90.178750,1784.064402,4855.926658,1080.362132,1828.168358,273.026467,1365.154917,602.123514,1692.790406,2864.426534,6684.095016,4728.635966,908.967484
34,"Data Scientist, IT",Tennessee,Nashville,68261.47,87.299482,46.040029,90.184652,76.546534,1536.776423,4182.849897,841.936304,1424.708684,218.066489,1090.350484,511.101207,1436.893262,2378.712727,5607.558581,3309.743106,80.897252
35,"Data Scientist, IT",Texas,Plano,85000.00,84.354308,46.140545,84.106832,79.674724,1484.931069,4041.735466,843.774457,1427.819171,203.370319,1016.868415,531.988135,1495.614090,2328.705526,5469.554637,4754.627807,1613.778697
36,"Data Scientist, IT",Utah,Salt Lake City,73614.13,81.083540,38.704950,76.155901,81.777590,1427.354099,3885.020525,707.799360,1197.724685,184.144969,920.740075,546.028972,1535.088040,2135.153459,5082.745210,3999.357375,1051.765623
37,"Data Scientist, IT",Virginia,McLean,99192.14,109.414642,67.585030,110.235686,98.518032,1926.080654,5242.471284,1235.930829,2091.418763,266.549888,1332.771489,657.804898,1849.331232,3162.011483,7333.890047,5104.000184,932.121620
38,"Data Scientist, IT",Virginia,Reston,93477.83,109.842684,68.775296,110.405087,98.866920,1933.615695,5262.980413,1257.697279,2128.251538,266.959500,1334.819579,660.134427,1855.880395,3191.312974,7391.231950,4598.506193,398.587216
39,"Data Scientist, IT",Virginia,Richmond,95000.00,86.215424,48.966653,89.176043,90.051128,1517.693215,4130.908577,895.455629,1515.273072,215.627673,1078.156199,601.271383,1690.394753,2413.148843,5646.181649,5503.517823,2270.485017
40,"Data Scientist, IT",Washington,Bellevue,111968.75,101.571591,60.697646,107.011408,93.494985,1788.015494,4866.680875,1109.980881,1878.288645,258.753584,1293.789322,624.266017,1755.041118,2897.996376,6744.969521,6432.732791,2585.759646
41,"Data Scientist, IT",Washington,Seattle,100529.55,101.571591,60.408048,107.011408,96.480942,1788.015494,4866.680875,1104.685001,1869.327057,258.753584,1293.789322,644.203250,1811.092004,2892.700495,6736.007932,5484.762005,1641.454568

In [54]:
top10_df=new_c_df.nlargest(10,'salary_usd')
top10_df

,occupation,state,city,salary_usd,cpi_index,rent_index,groceries_index,restaurant_price_index,cpi_single_usd,cpi_family_usd,rent_single_usd,rent_family_usd,groceries_single_usd,groceries_family_usd,restaurant_single_usd,restaurant_family_usd,col_single_usd,col_family_usd,ds_single_usd,ds_family_usd
0,"Data Scientist, IT",California,Cupertino,125000.00,106.791994,105.013686,110.509846,98.793207,1879.912861,5116.810227,1920.390526,3249.648512,267.212807,1336.086135,659.642243,1854.496685,3800.303387,8366.458739,6616.363280,2050.207928
8,"Data Scientist, IT",California,San Jose,117109.79,106.791994,105.013686,110.509846,98.793207,1879.912861,5116.810227,1920.390526,3249.648512,267.212807,1336.086135,659.642243,1854.496685,3800.303387,8366.458739,5958.845780,1392.690428
5,"Data Scientist, IT",California,Palo Alto,114109.51,107.861751,106.627097,112.069380,99.702558,1898.744330,5168.066355,1949.895052,3299.575512,270.983762,1354.941222,665.713978,1871.566562,3848.639382,8467.641867,5660.486452,1041.483966
7,"Data Scientist, IT",California,San Francisco,114060.42,108.078669,106.151319,109.457245,97.586956,1902.562856,5178.459748,1941.194478,3284.852567,264.667617,1323.359978,651.588105,1831.853544,3843.757334,8463.312314,5661.277666,1041.722686
40,"Data Scientist, IT",Washington,Bellevue,111968.75,101.571591,60.697646,107.011408,93.494985,1788.015494,4866.680875,1109.980881,1878.288645,258.753584,1293.789322,624.266017,1755.041118,2897.996376,6744.969521,6432.732791,2585.759646
10,"Data Scientist, IT",California,Santa Clara,109926.79,106.791994,105.013686,110.509846,98.793207,1879.912861,5116.810227,1920.390526,3249.648512,267.212807,1336.086135,659.642243,1854.496685,3800.303387,8366.458739,5360.262447,794.107095
9,"Data Scientist, IT",California,San Mateo,104804.68,107.861751,107.022457,109.318095,97.673861,1898.744330,5168.066355,1957.125026,3311.809939,264.331153,1321.677630,652.168371,1833.484884,3855.869356,8479.876294,4877.853977,253.847040
4,"Data Scientist, IT",California,Mountain View,103042.00,107.861751,107.375493,112.069380,98.471908,1898.744330,5168.066355,1963.581017,3322.734644,270.983762,1354.941222,657.496933,1848.465430,3862.325347,8490.800998,4724.507987,96.032335
41,"Data Scientist, IT",Washington,Seattle,100529.55,101.571591,60.408048,107.011408,96.480942,1788.015494,4866.680875,1104.685001,1869.327057,258.753584,1293.789322,644.203250,1811.092004,2892.700495,6736.007932,5484.762005,1641.454568
26,"Data Scientist, IT",New York,New York,99199.95,106.669960,84.962081,103.135492,113.067417,1877.764635,5110.963113,1553.705817,2629.151586,249.381620,1246.928726,754.951146,2122.445026,3431.470452,7740.114699,4835.192048,526.547801

In [56]:
new_c_df.to_csv('ds_team_project1/data/indices/benchmark_LA/monetary_conversion/converted_data_labnch.csv')
top10_df.to_csv('ds_team_project1/data/indices/benchmark_LA/monetary_conversion/top10_data_labnch.csv')